@model Project

	<h2>SKAPA PROJEKT</h2>

<!--Skapa projekt Content-->
@* <div asp-validation-summary="All" class="text-danger"></div> *@
<form asp-action="AddProjekt" method="Post" class="flex-md-column justify-content-center m-5">
    <div class="form1 form-group">
        <label asp-for="ProjectName">Namn</label>
        <input asp-for="ProjectName" type="text" class="form-control" placeholder="Skriv namnet här">
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <div class="form4 form-group">
        <label asp-for="Description">Beskrivning</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Beskriv projektet här (max 1000 Bokstäver)"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form2 form-group">
        <label asp-for="Startdate">StartDatum</label>
        <input asp-for="Startdate" type="date" class="form-control" placeholder="Skriv StartDatum här">
        <span asp-validation-for="Startdate" class="text-danger"></span>
    </div>
    <div class="form3 form-group">
        <label asp-for="Enddate">SlutDatum</label>
        <input asp-for="Enddate" type="date" class="form-control" placeholder="Skriv SlutDatum här">
        <span asp-validation-for="Enddate" class="text-danger"></span>
    </div>
    <div class="form3 form-group">
        <label asp-for="MaxPeople">Antal Deltagare</label>
        <select asp-for="MaxPeople" class="form-control">
            <option value="0">1</option>
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
            <option value="7">8</option>
            <option value="8">9</option>
            <option value="9">10</option>
        </select>
    </div>

  <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block m-5">Lägg till Projektet</button>
  </div>
 </form>