@model List<Project>

	<h2>Här ska det skapas nya projekt</h2>

<!--Skapa projekt Content-->
<form class="flex-md-column justify-content-center">
  <div class="form1 form-group w-25">
    <label for="ProjectName">Namn på projektet</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Skriv namnet här">
  </div>
  <div class="form2 form-group w-50 h-200 ">
    <label for="Description">Beskrivning</label>
    <textarea class="form-control" id="Beskrivning" rows="3"></textarea>
  </div>
    <div class="form3 form-group w-25">
        <label for="StartDate">StartDatum</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" rows ="6" placeholder="Skriv namnet här">
    </div>
    <div class="form4 form-group w-25">
        <label for="EndDate">SlutDatum</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Skriv namnet här">
    </div>

 </form>