@model PasswordViewModel

<form asp-action="ChangePassword" asp-controller="Profile" method="Post">
    <!--Ändra lösenord-->
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h3>Ändra Lösenord</h3>
                    </div>
                    <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="OldPassword">Gammalt Lösenord</label>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                <input type="password" asp-for="OldPassword" class="form-control" placeholder="Gammalt Lösenord" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="NewPassword">Nytt Lösenord</label>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                <input type="password" asp-for="NewPassword" class="form-control" placeholder="Nytt Lösenord" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword">Bekräfta Lösenord</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Bekräfta Lösenord" />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Ändra Lösenord</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


