@model CreateResumeModel
@{
    ViewData["Title"] = "Skapa CV";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Resume" asp-action="CreateCV" method="post" enctype="multipart/form-data">
    <!-- Sammanfattning -->
    <div class="summary-info mb-4">
        <h3>Sammanfattning</h3>
        <div class="mb-3">
            <label for="Summary" class="form-label">Sammanfattning</label>
            <textarea id="Summary" name="User.userCV.Summary" class="form-control" placeholder="En kort sammanfattning av ditt CV"></textarea>
        </div>
    </div>

    <!-- Erfarenheter Sektion -->
    <div class="experiences-info mb-4">
        <h3>Erfarenheter</h3>
        <div class="mb-3">
            @for (int i = 0; i < Model.UserCV.Experiences.Count(); i++)
            {
                <div>
                    <label asp-for="UserCV.Experiences[i].Position" class="form-label">Position</label>
                    <input asp-for="UserCV.Experiences[i].Position" class="form-control" placeholder="Position" />

                    <label asp-for="UserCV.Experiences[i].Description" class="form-label">Beskrivning</label>
                    <input asp-for="UserCV.Experiences[i].Description" class="form-control" placeholder="Beskrivning" />

                    <label asp-for="UserCV.Experiences[i].Employer" class="form-label">Arbetsgivare</label>
                    <input asp-for="UserCV.Experiences[i].Employer" class="form-control" placeholder="Beskrivning" />

                    <label asp-for="UserCV.Experiences[i].StartDate" class="form-label">Startdatum</label>
                    <input asp-for="UserCV.Experiences[i].StartDate" class="form-control" />

                    <label asp-for="UserCV.Experiences[i].EndDate" class="form-label">Slutdatum</label>
                    <input asp-for="UserCV.Experiences[i].EndDate" class="form-control" />
                </div>

            }
        </div>

    </div>

    <!-- Utbildningar Sektion -->
    <div class="educations-info mb-4">
        <h3>Utbildningar</h3>
        <div class="mb-3">
            @for (int i = 0; i < Model.UserCV.Educations.Count(); i++)
            {
                <label asp-for="UserCV.Educations[i].Institution" class="form-label">Institution</label>
                <input asp-for="UserCV.Educations[i].Institution" class="form-control" placeholder="Institution" />

                <label asp-for="UserCV.Educations[i].Course" class="form-label">Program</label>
                <input asp-for="UserCV.Educations[i].Course"  class="form-control" placeholder="Program" />

                <label asp-for="UserCV.Educations[i].Degree" class="form-label">Examen</label>
                <input asp-for="UserCV.Educations[i].Degree"  class="form-control" placeholder="Examen" />

                <label asp-for="UserCV.Educations[i].StartDate" class="form-label">Startdatum</label>
                <input asp-for="UserCV.Educations[i].StartDate"  class="form-control" />

                <label asp-for="UserCV.Educations[i].EndDate" class="form-label">Startdatum</label>
                <input asp-for="UserCV.Educations[i].EndDate"  class="form-control" />
            }

        </div>
    </div>

    <!-- Färdigheter Sektion -->
    <div class="qualifications-info mb-4">
        <h3>Kompetenser</h3>
        <div class="mb-3">
            @for (int i = 0; i < Model.UserCV.Qualifications.Count(); i++)
            {


                <label asp-for="UserCV.Qualifications[i].QName" class="form-label">Typ av kompetens</label>
                <input asp-for="UserCV.Qualifications[i].QName"  class="form-control" placeholder="Typ av kompetenser" />


                <label asp-for="UserCV.Qualifications[i].Description" class="form-label">Beskrivning</label>
                <input asp-for="UserCV.Qualifications[i].Description"  class="form-control" placeholder="Beskrivning" />
            }
        </div>
    </div>

    <!-- Intressen Sektion -->
    <div class="interests-info mb-4">
        <h3>Intressen</h3>
        <div class="mb-3">
            <label asp-for="UserCV.PersonalLetter" class="form-label">Personligt Brev</label>
            <textarea asp-for="UserCV.PersonalLetter" class="form-control" placeholder="Personligt brev"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Spara CV</button>
</form>